<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.38" targetFramework="net452" />
  <package id="DeclarativeSql.Core" version="0.2.3" targetFramework="net452" />
  <package id="DeclarativeSql.Dapper" version="0.2.3" targetFramework="net452" />
  <package id="Npgsql" version="3.0.5" targetFramework="net452" />
</packages>